.bgColor{
    background-color: rgba(173, 216, 230, 0.1);
}

.scheme-details{
    border-left: 2px rgb(100, 100, 100) solid;
}

.scheme-section{
    overflow-x: hidden;
    overflow-y: scroll;
}

.text-editor{
    width: 100%;
    height: 10rem;
    margin-bottom: 3rem;
}