.main-section{
    background-color: rgba(173, 216, 230, 0.1);
    margin: 0 auto;
    padding: 1rem 0;
}

/* ================ BREAKPOINS ===============*/
/* For large devices  */
@media screen and (max-width: 992px) {
    .main-section{
        margin: 1rem 2rem;
    }
   
  }
  
  /* For medium devices */
  @media screen and (max-width: 768px) {
    .main-section{
        margin: 1rem;
    }
   
  }
  
  @media screen and (max-width: 576px) {
   
  }
  
  /* For small devices */
  @media screen and (max-width: 350px) {
  }