.header-cantainer{
  background-color:rgba(173, 216, 230, 0.1);
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.scroll-header{
  background-color: rgb(240, 251, 254);
}

.header {
  max-width: 1080px;
  margin: auto;
  // background-color: rgba(173, 216, 230, 0.1);
  color: black;
  padding: 0 2rem;
  height: 60px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  place-items: center;
}

.header-logo {
  font-size: 1.5rem;
  gap: 0.5rem;
  img {
    width: 11rem;
  }
}

.search {
 

  .search-bar {
    background-color: inherit;
    color: black;
    width: 30vw;
    padding: 5px 20px;
    border-radius: 25px;
    outline: none;
    border: 1px solid rgb(100, 100, 100);
  }

  i {
    font-size: 1.3rem;
    transform: translateX(-35px);
    color: black;
  }
}

.navbar {
  justify-content: end;
  gap: 1rem;
}

.login-btn{
  overflow: visible;
}

/* ================ BREAKPOINS ===============*/
/* For large devices  */
@media screen and (max-width: 992px) {
  .header-logo {
    font-size: 1rem;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .header{
    grid-template-columns: 3fr 1fr 1fr;
    place-items: start;
    align-items: center;
  }

  .search{
    transform: translateX(15vw);

    .search-bar{
      display: none;
    }
  }

  .active-nav{
    
    grid-template-columns: 1fr;

    .header-logo,
    .navbar{
      display: none;
    }

    .search{
      transform: translateX(0);
      margin: auto;

      .search-bar{
        display: block;
        width: 85vw;
      }
    }
  }
}

@media screen and (max-width: 576px) {
    .header{
      grid-template-columns: repeat(3, 1fr);
      place-items: center;
    }

    .active-nav{
      grid-template-columns: 1fr;
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
  .active-nav{
    grid-template-columns: 1fr;

    .search-bar{
      width: 80vw;
    }
  }
}
